
<style>
.image-stack

{

Display: grid;

Grid-template-columns: repeat(12, 1fr);

Position: relative;


}

.image-stack__item—top

{

Grid-column: 1/span 8;

Grid-row: 1; 

Padding-top: 20%; 

z-index: 1; 

}

.image-stack__item—bottom

{

grid-column: 4;

grid-row: 1;

}


</style>


<div class=”image-stack”>

    <div class=”image-stack__item image-stack__item—top”>
    
    <img src=”https://i.pinimg.com/1200x/5d/06/8a/5d068a568bf9fdedd2934c2ed0c95153.jpg” alt= ”The ”>
    
    </div>
    
    <div class=”image-stack__item image-stack__item—bottom”>
    
    <img src= "https://s.abcnews.com/images/General/covid-front-pages-01-ht-llr-210731_1627766403143_hpEmbed_1x1_992.jpg" alt=”second image”>
    
    </div></div>